[submodule "pontoon/pontoon"]
	path = pontoon/pontoon
	url = git@github.com:guhur/pontoon.git
[submodule "moodle/moodle-docker"]
	path = moodle/moodle-docker
	url = https://github.com/guhur/moodle-docker.git
[submodule "crater/crater"]
	path = crater/crater
	url = https://github.com/guhur/crater
