version: '3.8'

services:
    wordpress_db:
      image: mariadb
      container_name: wordpress_db
      restart: unless-stopped
      command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
      environment:
        - MYSQL_RANDOM_ROOT_PASSWORD=yes
        - MYSQL_DATABASE=${DB_NAME:-wordpress}
        - MYSQL_USER=${DB_USER:-wordpress}
        - MYSQL_PASSWORD=${DB_PASS}
        - PUID=1000
        - PGID=1000
        - TZ=Europe/Paris
      networks:
        - lan
      volumes:
        - db_data:/var/lib/mysql
      networks:
        - lan

    wordpress:
      image: wordpress
      restart: unless-stopped
      container_name: wordpress
        # ports:
        #     - 8080:80
      environment:
        WORDPRESS_DB_HOST: wordpress_db
        WORDPRESS_DB_USER: ${DB_USER:-wordpress}
        WORDPRESS_DB_PASSWORD: ${DB_PASS}
        WORDPRESS_DB_NAME: ${DB_NAME:-wordpress}
        PUID: 1000
        PGID: 1000
        TZ: Europe/Paris
      volumes:
        - ${WORDPRESS_SITE_DIR}:/var/www/html/
      networks:
        - lan
        - traefik_network
      depends_on:
        - wordpress_db
      labels:
        - "traefik.enable=true"
        - "traefik.docker.network=traefik_network"
        - "traefik.http.routers.wordpress.entrypoints=web,websecure"
        - "traefik.http.routers.wordpress.rule=Host(`${WORDPRESS_URL}`)"
        - "traefik.http.services.wordpress.loadbalancer.server.port=80"
        - "traefik.http.routers.wordpress.tls=true"
        - "traefik.http.routers.wordpress.tls.certresolver=leresolver"

networks:
  lan:
  traefik_network:
    external: true

volumes:
  db_data:
    driver: local
